<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <Title>Gorillas.bas</Title>
        <link href="./stylesheets/style.css" rel="stylesheet" />
    </head>
    <body>
        <div style="height: 100vh">
            <img id="theimg"/>
            <input 
                type="text" 
                id="theinput" 
                style="
                    opacity:0;
                    position:absolute;
                    top:50%;
                    left:50%;
                    font-size:1pt" />
        </div>
    </body>
    <script src="./scripts/gorillaClient.js"></script>
</html>
